<div class="container">
    <div class="body">
        <span class="question-count">Question 1/14</span>
        <h2 class="question"> {{ question }}:</h2>
        <span class="instruction">All questions are required</span>
        <div class="options" *ngFor="let item of options">
            <div *ngIf="currentAnswer !== item" class="option-container" (click)="optionSelected(item)">
                <div class="letter">{{ item.letter }}</div>
                <div class="option"> {{ item.value }} </div>
            </div>
            <div *ngIf="currentAnswer == item" class="option-container-selected">
                <div class="letter-selected">{{ item.letter }}</div>
                <div class="option"> {{ item.value }} </div>
            </div>
        </div>
        
        <div class="button-container">
            <!-- current question count === 1 -->
            <div *ngIf="currentQuestionCount == 1" class="btn-single">
                <button *ngIf="currentAnswer" class="button-active" (click)="next()">Next question</button>
                <button *ngIf="!currentAnswer" class="button-disabled">Next question</button>
            </div>
            <div *ngIf="currentQuestionCount > 1" class="btn-double">
                <button class="button-previous" (click)="previous()">Previous</button>
                <button *ngIf="currentAnswer" class="button-next-active" (click)="next()">Next question</button>
                <button *ngIf="!currentAnswer" class="button-next-disabled">Next question</button>
            </div>
            
        </div>
</div>

